{{#each posts}}

    <a href="./user/{{userID}}/{{ID}}" class="post_ssilka">
        <div>
            <p>Username: {{username}}</p>
            <p>Text: {{text}}</p>
            <p><time>{{date}}</time></p>
        </div>
    </a>
    <hr size="100" width="100%" color="black">  

{{/each}}
